<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      background-image: url('https://i.pinimg.com/736x/dc/2e/9e/dc2e9eb781435e94724571a6f6614d63.jpg'), url('https://i.pinimg.com/736x/92/0e/c0/920ec0c507407ed8f993dcfe695a5ac9.jpg'), url('https://i.pinimg.com/736x/dc/5e/e3/dc5ee3c36db2b706de2356b6debf5f39.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      animation: changeBackground 3s infinite;
      font-family: 'Montserrat', sans-serif; /* Menggunakan font Montserrat */
    }
    @keyframes changeBackground {
      0% { background-image: url('https://i.pinimg.com/736x/dc/2e/9e/dc2e9eb781435e94724571a6f6614d63.jpg'); }
      33% { background-image: url('https://i.pinimg.com/736x/92/0e/c0/920ec0c507407ed8f993dcfe695a5ac9.jpg'); }
      66% { background-image: url('https://i.pinimg.com/736x/dc/5e/e3/dc5ee3c36db2b706de2356b6debf5f39.jpg'); }
      100% { background-image: url('https://i.pinimg.com/736x/dc/2e/9e/dc2e9eb781435e94724571a6f6614d63.jpg'); }
    }
  </style>
  <title>Data Pertanian</title>
</head>
<body>
  <div class="container">
    <h1 class="text-center" style="font-family: 'Montserrat', sans-serif; font-weight: bold; text-transform: uppercase;">Data Pertanian Ais</h1>
    <a href="/add" class="btn btn-primary" style="font-family: 'Montserrat', sans-serif; font-weight: bold; text-transform: uppercase;">Tambah Data</a>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nama</th>
            <th>Jenis</th>
            <th>Jumlah</th>
            <th>Tanggal</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((item, index) => { %>
            <tr>
              <td><%= item.nama %></td>
              <td><%= item.jenis %></td>
              <td><%= item.jumlah %></td>
              <td><%= new Date(item.tanggal).toLocaleDateString('id-ID') %></td>
              <td>
                <a href="/edit/<%= item.id %>" class="btn btn-success">Edit</a>
                <a href="/delete/<%= item.id %>" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
